.loginBody{
 //  border:1px solid #333;  
   background-image:url("../theme/image/loginbody.jpeg");
   height:560px;
   background-position:-270px 0;
   background-repeat:no-repeat;
   padding-top:80px;
}
.formBy{
   background-color:#fff;
  @media only screen and ( min-width: 768px){
     margin-left:40%;
 }
  @media only screen and ( min-width: 1158px){
       margin-left:60%;
   }
}